/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Dimensions */
#preview {
  width: 411px;
  height: 219px;
  margin: 0em 1em;
  border-style: inset;
  border-width: 2px;
  position: relative;
}

#window-inactive {
  width:;
  height:;
}

#window-active {
  width: 387px;
  height:;
}

#window-dialog {
  width: 237px;
  height: 78px;
  left: 23px;
  top: 134px;
}

.titlebar-wincontrols .button svg {
  fill: #000000;
}
