/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.window {
  position: absolute;
}

.menu {
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu li {
  /* float: left; */
  display: inline-block;
  padding: 2px 5px;
}

.titlebar {
  margin: 0px;
  padding: 1px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.titlebar .titlebar-icon {
  width: 16px;
  height: 16px;
  padding: 1px;
}

.titlebar .titlebar-title {
  display: block;
  padding: 0px 1px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  flex-grow: 1;
}

.titlebar .titlebar-wincontrols {
  display: inline-block;
  margin: 0px;
  padding: 1px;
  min-width: fit-content;
}

.titlebar-wincontrols .buttons-wrapper {
  display: inline-block;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.titlebar-wincontrols .spacer {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 2px;
}

.titlebar-wincontrols .button {
  display: inline-block;
  width: 12px;
  height: 10px;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}

