@mixin window-inset {
    box-shadow:
    -0.5px -0.5px 0px 0.5px $ButtonDkShadow,
    0px 0px 0px 1px $ButtonLight,
    -0.5px -0.5px 0px 1.5px $ButtonShadow,
    0px 0px 0px 2px $ButtonHilight;
}

@mixin window-outset {
  box-shadow:
    -0.5px -0.5px 0px 0.5px $ButtonHilight,
    0px 0px 0px 1px $ButtonShadow,
    -0.5px -0.5px 0px 1.5px $ButtonLight,
    0px 0px 0px 2px $ButtonDkShadow;
}

@mixin button-inset {
    box-shadow:
    -0.5px -0.5px 0px 0.5px $ButtonShadow,
    0px 0px 0px 1px $ButtonLight,
    -0.5px -0.5px 0px 1.5px $ButtonDkShadow,
    0px 0px 0px 2px $ButtonHilight;
}

@mixin button-outset {
  box-shadow:
    -0.5px -0.5px 0px 0.5px $ButtonLight,
    0px 0px 0px 1px $ButtonShadow,
    -0.5px -0.5px 0px 1.5px $ButtonHilight,
    0px 0px 0px 2px $ButtonDkShadow;
}

/********** Colors **********/
.desktop {
  background-color: $Background;
  font-family: Tahoma,"Microsoft Sans Serif","MS Sans Serif",sans-serif;
}

.window {
  background-color: $ButtonFace;
  color: $WindowText;
  border-color: $ActiveBorder;
  font-size: 10px;
  @include window-outset;
}

.menubar {
  background-color: $Menu;
  font-size: 10px;
}

.disabled {
  color: $GrayText;
}

.selected {
  background-color: $Hilight;
  color: $HilightText;
}

.titlebar .titlebar-title {
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
}

.button {
  background-color: $ButtonFace;
  color: $ButtonText;
  @include button-outset;

  &:active {
    @include button-inset;
  }

  svg {
    fill: $ButtonText;
  }
}

.text-pane {
  margin: 2px 0;
  padding: 2px;
  background-color: $Window;
  color: $WindowText;

  @include window-inset;

  p {
    margin: 0;
  }
}

.monospace {
  font-family: "Lucida Console", monospace;
}

/* Active Window */
.window.active {

  border: 1px solid $ActiveBorder;

  .titlebar {
    .titlebar-icon {
      background-color: $ActiveTitle;
      color: $TitleText;
    }

    .titlebar-title {
      background-color: $ActiveTitle;
      background-image: linear-gradient(to right, $ActiveTitle, $GradientActiveTitle);
      color: $TitleText;
    }

    .titlebar-wincontrols, .titlebar-wincontrols .buttons-wrapper {
      background-color: $GradientActiveTitle;
      font-size: 8px;
      font-weight: bold;
    }
  }//end .titlebar
}

/* Inactive Window */
.window.inactive {

  border: 1px solid $InactiveBorder;

  .titlebar {

    .titlebar-icon {
      background-color: $InactiveTitle;
      color: $InactiveTitleText;
    }
  
    .titlebar-title {
      background-color: $InactiveTitle;
      background-image: linear-gradient(to right, $InactiveTitle, $GradientInactiveTitle);
      color: $InactiveTitleText;
    }


    .titlebar-wincontrols, .titlebar-wincontrols .buttons-wrapper {
      background-color: $GradientInactiveTitle;
      font-size: 8px;
      font-weight: bold;
    }
      
  }//end .titlebar
}//end .window.inactive

/* Scroll Pane */
.scroll-pane {
  margin: 2px;

  @include window-inset;
}

.scroll-pane-content {
  box-shadow: none;
}

/* Scrollbar */
.scrollbar {

  &.verti-scroll {
    width: 16px;
  }

  &.horiz-scroll {
    height: 16px;
  }

  .button {
    @include window-outset; /* sic */

    &:active {
      @include window-inset;
    }
  }
}
