/* Name:   Dropbox
 * Author: tPenguinLTG
 */
:root {
  --ActiveBorder: rgb(123,137,148);
  --ActiveTitle: rgb(0,126,229);
  --AppWorkspace: rgb(62,155,240);
  --Background: rgb(0,126,229);
  --ButtonAlternateFace: rgb(192,192,192);
  --ButtonDkShadow: rgb(64,64,64);
  --ButtonFace: rgb(204,229,251);
  --ButtonHilight: rgb(230,242,253);
  --ButtonLight: rgb(204,229,251);
  --ButtonShadow: rgb(62,155,240);
  --ButtonText: rgb(71,82,93);
  --GradientActiveTitle: rgb(0,126,229);
  --GradientInactiveTitle: rgb(128,191,242);
  --GrayText: rgb(123,147,148);
  --Hilight: rgb(128,191,242);
  --HilightText: rgb(255,255,255);
  --HotTrackingColor: rgb(40,149,241);
  --InactiveBorder: rgb(204,229,251);
  --InactiveTitle: rgb(128,191,242);
  --InactiveTitleText: rgb(255,255,255);
  --InfoText: rgb(71,82,93);
  --InfoWindow: rgb(245,250,254);
  --Menu: rgb(204,229,251);
  --MenuBar: rgb(204,229,251);
  --MenuHilight: rgb(128,191,242);
  --MenuText: rgb(71,82,93);
  --Scrollbar: rgb(230,242,253);
  --TitleText: rgb(255,255,255);
  --Window: rgb(255,255,255);
  --WindowFrame: rgb(0,0,0);
  --WindowText: rgb(71,82,93);
}
