$ActiveTitle: rgb(255,255,0);
$Background: rgb(255,255,0);
$Hilight: rgb(255,0,0);
$HilightText: rgb(255,255,255);
$TitleText: rgb(0,0,0);
$Window: rgb(255,255,0);
$WindowText: rgb(0,0,0);
$Scrollbar: rgb(255,128,128);
$InactiveTitle: rgb(255,255,0);
$Menu: rgb(255,0,0);
$WindowFrame: rgb(0,0,0);
$MenuText: rgb(0,0,0);
$ActiveBorder: rgb(0,0,0);
$InactiveBorder: rgb(255,0,0);
$AppWorkspace: rgb(255,255,0);
$ButtonFace: rgb(255,0,0);
$ButtonShadow: rgb(170,0,0);
$GrayText: rgb(170,0,0);
$ButtonText: rgb(0,0,0);
$InactiveTitleText: rgb(0,0,0);
$ButtonHilight: rgb(255,128,128);
$ButtonDkShadow: rgb(0,0,0);
$ButtonLight: rgb(255,0,0);
$InfoText: rgb(0,0,0);
$InfoWindow: rgb(255,255,0);
$GradientActiveTitle: rgb(255,255,0);
$GradientInactiveTitle: rgb(255,255,0);
$ButtonAlternateFace: rgb(192,192,192);
$HotTrackingColor: rgb(0,0,128);
$MenuHilight: rgb(0,0,128);
$MenuBar: rgb(192,192,192);

@import "theme-template";
