/* Name: Seawater Soft
 * Author: tPenguinLTG
 */
:root {
  --ActiveTitle: rgb(0,0,128);
  --Background: rgb(0,128,128);
  --Hilight: rgb(0,128,128);
  --HilightText: rgb(255,255,255);
  --TitleText: rgb(255,255,255);
  --Window: rgb(180,203,228);
  --WindowText: rgb(0,0,0);
  --Scrollbar: rgb(167,194,224);
  --InactiveTitle: rgb(0,85,170);
  --Menu: rgb(79,133,193);
  --WindowFrame: rgb(0,0,0);
  --MenuText: rgb(0,0,0);
  --ActiveBorder: rgb(79,133,193);
  --InactiveBorder: rgb(79,133,193);
  --AppWorkspace: rgb(47,88,134);
  --ButtonFace: rgb(79,133,193);
  --ButtonShadow: rgb(167,194,224);
  --GrayText: rgb(47,88,134);
  --ButtonText: rgb(0,0,0);
  --InactiveTitleText: rgb(192,192,192);
  --ButtonHilight: rgb(167,194,224);
  --ButtonDkShadow: rgb(167,194,224);
  --ButtonLight: rgb(167,194,224);
  --InfoText: rgb(0,0,0);
  --InfoWindow: rgb(255,255,225);
  --GradientActiveTitle: rgb(0,0,128);
  --GradientInactiveTitle: rgb(0,85,170);
  --ButtonAlternateFace: rgb(192,192,192);
  --HotTrackingColor: rgb(0,0,128);
  --MenuHilight: rgb(0,128,128);
  --MenuBar: rgb(192,192,192);
}
