/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.desktop {
  background-color: #3A6EA5;
  font-family: Tahoma,"Microsoft Sans Serif","MS Sans Serif",sans-serif;
}


.window {
  background-color: #D4D0C8;
  color: #000000;
  box-shadow:
    -0.5px -0.5px 0px 0.5px #FFFFFF,            /* ButtonHilight */
    0px 0px 0px 1px #808080,                    /* ButtonShadow */
    -0.5px -0.5px 0px 1.5px rgb(212,208,200),   /* ButtonLight */
    0px 0px 0px 2px #404040;                    /* ButtonDkShadow */
  font-size: 8px;
}

.menubar {
  background-color: #D4D0C8;
  font-size: 8px;
}

.disabled {
  color: #808080;
}

.selected {
  background-color: #0A246A;
  color: #FFFFFF;
}

.titlebar .titlebar-icon {
  background-color: #0A246A;
}

.titlebar .titlebar-title {
  font-size: 8px;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
}

.window.active .titlebar .titlebar-title {
  background-color: #0A246A;
  background-image: linear-gradient(to right, #0A246A, #A6CAF0);
  color: #FFFFFF;
}

.titlebar .titlebar-wincontrols, .titlebar-wincontrols .buttons-wrapper {
  background-color: #A6CAF0;
  font-size: 8px;
  font-weight: bold;
}

.button {
  background-color: #D4D0C8;
  box-shadow:
    -0.5px -0.5px 0px 0.5px rgb(212,208,200),   /* ButtonLight */
    0px 0px 0px 1px #808080,                    /* ButtonShadow */
    -0.5px -0.5px 0px 1.5px #FFFFFF,            /* ButtonHilight */
    0px 0px 0px 2px #404040;                    /* ButtonDkShadow */
}

.button:active {
  box-shadow:
    -0.5px -0.5px 0px 0.5px #808080,   /* ButtonLight */
    0px 0px 0px 1px rgb(212,208,200),                    /* ButtonShadow */
    -0.5px -0.5px 0px 1.5px #404040,            /* ButtonHilight */
    0px 0px 0px 2px #FFFFFF;                    /* ButtonDkShadow */
}
