
.desktop {
  background-color: #3A6EA5;
  font-family: Tahoma,"Microsoft Sans Serif","MS Sans Serif",sans-serif;
}

.window {
  background-color: #D4D0C8;
  color: #000000;
}

.menu {
  background-color: #D4D0C8;
  font-size: 8px;
}

.disabled {
  color: #808080;
}

.selected {
  background-color: #0A246A;
  color: #FFFFFF;
}

.titlebar .titlebar-title {
  background-color: #0A246A;
  background-image: linear-gradient(to right, #0A246A, #A6CAF0);
  color: #FFFFFF;
  font-size: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.titlebar .titlebar-wincontrols {
  background-color: #A6CAF0;
  font-size: 8px;
}

.titlebar-wincontrols .button {
  box-shadow:
    1px 1px 0px #808080,
    2px 2px 0px #404040;
}
