/* Name: Blue
 * Author: tPenguinLTG
 */
:root {
  --ActiveTitle: rgb(0,0,128);
  --Background: rgb(58,110,165);
  --Hilight: rgb(51,153,255);
  --HilightText: rgb(255,255,255);
  --TitleText: rgb(255,255,255);
  --Window: rgb(255,255,255);
  --WindowText: rgb(0,0,0);
  --Scrollbar: rgb(211,228,248);
  --InactiveTitle: rgb(49,131,221);
  --Menu: rgb(166,202,240);
  --WindowFrame: rgb(0,0,0);
  --MenuText: rgb(0,0,0);
  --ActiveBorder: rgb(166,202,240);
  --InactiveBorder: rgb(166,202,240);
  --AppWorkspace: rgb(49,131,221);
  --ButtonFace: rgb(166,202,240);
  --ButtonShadow: rgb(49,131,221);
  --GrayText: rgb(49,131,221);
  --ButtonText: rgb(0,0,0);
  --InactiveTitleText: rgb(0,0,128);
  --ButtonHilight: rgb(211,228,248);
  --ButtonDkShadow: rgb(0,0,0);
  --ButtonLight: rgb(166,202,240);
  --InfoText: rgb(0,0,0);
  --InfoWindow: rgb(225,225,255);
  --GradientActiveTitle: rgb(16,132,208);
  --GradientInactiveTitle: rgb(49,131,221);
  --ButtonAlternateFace: rgb(192,192,192);
  --HotTrackingColor: rgb(0,0,128);
  --MenuHilight: rgb(0,0,128);
  --MenuBar: rgb(166,202,240);
}
