/* Name: Wine Human Theme
 * URL:  <https://wiki.ubuntu.com/WineHumanTheme>
 */
:root {
  --ActiveBorder: rgb(239,235,231);
  --ActiveTitle: rgb(210,141,70);
  --AppWorkspace: rgb(177,170,163);
  --Background: rgb(0,0,0);
  --ButtonAlternateFace: rgb(181,181,181);
  --ButtonDkShadow: rgb(115,106,96);
  --ButtonFace: rgb(239,235,231);
  --ButtonHilight: rgb(253,250,248);
  --ButtonLight: rgb(239,235,231);
  --ButtonShadow: rgb(179,175,171);
  --ButtonText: rgb(0,0,0);
  --GradientActiveTitle: rgb(210,141,70);
  --GradientInactiveTitle: rgb(239,235,231);
  --GrayText: rgb(179,175,171);
  --Hilight: rgb(248,206,140);
  --HilightText: rgb(0,0,0);
  --HotTrackingColor: rgb(253,250,248);
  --InactiveBorder: rgb(239,235,231);
  --InactiveTitle: rgb(239,235,231);
  --InactiveTitleText: rgb(60,60,59);
  --InfoText: rgb(0,0,0);
  --InfoWindow: rgb(239,235,231);
  --Menu: rgb(239,235,231);
  --MenuBar: rgb(239,235,231);
  --MenuHilight: rgb(248,245,242);
  --MenuText: rgb(0,0,0);
  --Scrollbar: rgb(203,193,183);
  --TitleText: rgb(255,255,255);
  --Window: rgb(255,255,255);
  --WindowFrame: rgb(0,0,0);
  --WindowText: rgb(0,0,0);
}
